Ejercicio 1

In [ ]:
a= int(input("introduzca un numero: "))
if a%2==0:
  print("par")
else:
  print("impar")

introduzca un numero: 10
par

Ejercicio 2

In [ ]:
a=str(input("introduzca un texto:   "))
b=int(input("cuantas veces:"))
c= ( a * b )
print(c)

introduzca un texto:   hola
cuantas veces:        5
holaholaholaholahola

Ejercicio 3

In [ ]:
def pago(val1):
  dia=(val1*150)
  sem=(dia*5)
  mes=(sem*4)
  print("salario por dia: ",dia)
  print("salario por semana: ",sem)
  print("salario por mes: ",mes)
h= float(input("ingrese las horas:"))
pago(h)

ingrese las horas:9
salario por dia:  1350.0
salario por semana:  6750.0
salario por mes:  27000.0

Ejercicio 4

In [1]:

n = str(input("seleccione una opcion: a = suma b = resta c = multiplicacion d = division:"))
if n == "a":
  j = float(input("dame el primer valor: "))
  v = float(input("dame el segundo valor: "))
  print("es:: ",j+v)
elif n == "b":
  j = float(input("dame el primer valor: "))
  v = float(input("dame el segundo valor: "))
  print("es: ",j-v)
elif n == "c":
  j = float(input("dame el primer valor: "))
  v = float(input("dame el segundo valor: "))
  print("es: ",j*v)
elif n == "d":
  j = float(input("dame el primer valor: "))
  v = float(input("dame el segundo valor: "))
  while v == 0:
    print("el divisor no puede ser 0")
    v = float(input("dame el segundo valor: "))
    print("es:",j/v)

seleccione una opcion: a = suma b = resta c = multiplicacion d = division:d
dame el primer valor: 5
dame el segundo valor: 0
el divisor no puede ser 0
dame el segundo valor: 2
es: 2.5

Ejercicio 5

In [ ]:
def peso(c,d):
  res = c + d 
  print("El peso es: ",res,"g")
payaso = 150
juego = 170 
a = int(input("ingrese el numero de payasos: "))
b = int(input("ingrese el numero de juegos de mesas:"))
c = (payaso*a)
d = (juego*b)
peso(c,d)
e = (-10000+(c+d))
if c+d<=10000:
  print("el pedido es correcto")
else:
  print("se pasa por:",e,"g")

ingrese el numero de payasos: 50
ingrese el numero de juegos de mesas:50
El peso es:  16000 g
se pasa por: 6000 g

Ejercicio 6

In [ ]:
def salario(val1):
  if val1 < 10000:
    print(val1 - ((val1 * 5)/100))
  if 10000 < val1 < 15000:
    print(val1 - ((val1 * 10)/100))
  if 15000 < val1 < 20000:
    print(val1 - ((val1 * 15)/100))
  if val1 > 20000:
    print(val1 - ((val1 * 18)/100))
v = float(input("ingresa tu salario: "))
salario(v)

ingresa tu salario: 111151
91143.82

Ejercicio 7

In [ ]:
a = [0,50,100]
b = int(input("Edad: "))
if (b <= 4):
  print(a[0])
if (4 < b <= 16):
  print(a[1])
if (b > 16):
  print(a[2])
c = [10,30,50]
c.append(0)
d = str(input("tipo de credencial estudiante, docente,inapam, ninguna: "))
if (d == "estudiante"):
  print("descuento es: ", ((c[0] * 50)/100))
elif (d == "docente"):
  print("descuento es: ",((c[1] * 100)/100))
elif (d == "inapam"):
  print("descuento es:",((c[2] * 100)/100))
elif (d == "ninguna"):
  print("su descuento es: ",c[3])

Edad: 15
50
tipo de credencial estudiante, docente,inapam, ninguna: estudiante
descuento es:  5.0

Ejercicio 8

In [ ]:
n = int(input("Introduce un numero: "))
for i in range(n):
   print("*"*(i+1))

Introduce un numero: 5
*
**
***
****
*****

Ejercicio 9

In [ ]:
def factorial(n):
  if n==1:
    return 1
  else:
    return n * factorial(n-1)
n=int(input("inserte un numero:"))
print(factorial(n))

inserte un numero:6
720

Ejercicio 10

In [ ]:
from math import pi 
def area_circulo(r):
  area = (pi * r**2)
  return area
def volumen_cilindro(r,h):
  volumen = (pi * r**2 * h)
  return volumen 
r=float(input("inserte el valor del radio:"))
h=float(input("inserte el valor de la altura:"))
print("valor del area del circulo es:",area_circulo(r))
print("el valor del volumen es:",volumen_cilindro(r,h))

inserte el valor del radio:4
inserte el valor de la altura:5
valor del area del circulo es: 50.26548245743669
el valor del volumen es: 251.32741228718345